html {
	background: #232526;  /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to left, #414345, #232526);*/  /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to left, #414345, #232526);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Montserrat', sans-serif;
}

#title {
	text-align: center;
	font-size: 10em;
	color: white;
}

#nf-title {
	font-size: 8em;
	color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.social-container {
	margin-top: 100px;
	text-align: center;
}

.social-container a {
	color: transparent;
}

.fab-link {
	color: white;
	display: inline-block;
	margin: 10px 10px;
	transition: all 0.3s ease;
}

.fab-link:hover {
	opacity: 0.7;
	transform: scale(1.25, 1.25);
}
